#navbar {
    display: none;
}

#bottom {
    display: flex;
}

#home,
.about-container {
    flex-direction: column-reverse;
    text-align: center;
}

.home-left,
.home-right,
.about-left,
.about-right,
.skills-left {
    margin: 0;
    width: auto;
}
.skills-right{
    width: 80%;
}

.about-right {
    padding: 3rem;
}

.home-content {
    text-align: center;
}

.home-content .links {
    justify-content: space-evenly;
}

.about-left img {
    width: 80%;
    height: 75%;
}

#about>h1 {
    display: none;
}

#skills>h1 {
    margin: 2rem 0 0 0;
}

.skills-container {
    flex-direction: column;
}
.services-container{
    flex-direction: column;
    margin: auto;
}